<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flickr Search</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Vue Flickr Search</h1>
  <div id="appRoot">
    <input @keyup.enter="doSearch" type="text" v-model="searchText">
    <button @click="doSearch">Search</button>
    <br>

    <div v-if="!results.length">
      Please enter a search query.
    </div>

    <div v-else>
      <photo-result
      v-for="result in results"
      :photo="result"
      :key="result.id">
      </photo-result>

    </div>


  </div>
  <script src="js/jquery.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/flickr.js"></script>

</body>
</html>
