<h2>Let's calculate something</h2>

<form action="/calc/result">

  <label>First number:
    <input type="text" name="first">
  </label>

  <label>Operation:
    <input type="text" name="op">
  </label>

  <label>Second number:
    <input type="text" name="second">
  </label>

  <input type="submit" value="calculate">

</form>
