<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Author Name</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat sollicitudin, lacinia neque ac, placerat dui. Quisque ultrices ipsum velit. Cras nibh tortor, eleifend sit amet maximus a, viverra quis felis. Morbi posuere turpis a nisi tristique commodo. Sed ut dictum arcu, a vulputate est. Fusce euismod libero at consequat congue. Sed vel orci vitae ex porta eleifend a ac lacus. Suspendisse aliquet, ex ac hendrerit cursus, tortor purus sollicitudin dolor, vel tempor diam enim ut est. Donec in neque ullamcorper, dignissim est et, ullamcorper sem. Quisque enim tortor, imperdiet eu urna sit amet, feugiat posuere nunc. Phasellus dictum massa vel vestibulum finibus.
    </p>

  </div>
</div>

<div class="post">
  <h2>Second Post</h2>
  <h3 class="author">Author Name</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat sollicitudin, lacinia neque ac, placerat dui. Quisque ultrices ipsum velit. Cras nibh tortor, eleifend sit amet maximus a, viverra quis felis. Morbi posuere turpis a nisi tristique commodo. Sed ut dictum arcu, a vulputate est. Fusce euismod libero at consequat congue. Sed vel orci vitae ex porta eleifend a ac lacus. Suspendisse aliquet, ex ac hendrerit cursus, tortor purus sollicitudin dolor, vel tempor diam enim ut est. Donec in neque ullamcorper, dignissim est et, ullamcorper sem. Quisque enim tortor, imperdiet eu urna sit amet, feugiat posuere nunc. Phasellus dictum massa vel vestibulum finibus.
    </p>

  </div>
</div>



<div class="post">
  <h2>Third Post</h2>
  <h3 class="author">Author Name</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat sollicitudin, lacinia neque ac, placerat dui. Quisque ultrices ipsum velit. Cras nibh tortor, eleifend sit amet maximus a, viverra quis felis. Morbi posuere turpis a nisi tristique commodo. Sed ut dictum arcu, a vulputate est. Fusce euismod libero at consequat congue. Sed vel orci vitae ex porta eleifend a ac lacus. Suspendisse aliquet, ex ac hendrerit cursus, tortor purus sollicitudin dolor, vel tempor diam enim ut est. Donec in neque ullamcorper, dignissim est et, ullamcorper sem. Quisque enim tortor, imperdiet eu urna sit amet, feugiat posuere nunc. Phasellus dictum massa vel vestibulum finibus.
    </p>

  </div>
</div>

<div id="other">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat sollicitudin, lacinia neque ac, placerat dui. Quisque ultrices ipsum velit. Cras nibh tortor, eleifend sit amet maximus a, viverra quis felis. Morbi posuere turpis a nisi tristique commodo. Sed ut dictum arcu, a vulputate est. Fusce euismod libero at consequat congue. Sed vel orci vitae ex porta eleifend a ac lacus. Suspendisse aliquet, ex ac hendrerit cursus, tortor purus sollicitudin dolor, vel tempor diam enim ut est. Donec in neque ullamcorper, dignissim est et, ullamcorper sem. Quisque enim tortor, imperdiet eu urna sit amet, feugiat posuere nunc. Phasellus dictum massa vel vestibulum finibus.</p>
</div>

<hr>

<div class="plain">
  This is a notice
</div>

<div class="error">
  This is a notice
</div>

<div class="success">
  This is a notice
</div>
