<h1>Welcome to rails calculator</h1>

<p>
  Please contruc a URL like
  <a href="/calc/5/*/10"><code>/calc/5/*/10</code></a> to use the CalculatorController
</p>

<p>...or..</p>
<form action="/calc/submit">
First: <input type="text" name="first">
Operation: <input type="text" name="op">
Second: <input type="text" name="second">
<input type="submit" value="Calculate">
</form>
