/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Skranji');

body {
  background-color: pink;
  color: black;
  font-family: 'Skranji', cursive;
  background-image: url("gudetama-lazy-chopsticks.jpg");
  background-size: cover;
}

a, a:visited {
  color: red;
}

h1, h2 {
  text-shadow: 2px, 2px, red;
}
#navbar li {
  list-style: none;
  display: inline-block;
}

img.artistPic {
  max-height: 300px;
}

img.workMainImage {
  max-height: 500px;
}

ul.index a {
  font-style: italic;
}

fieldset {
  border: none;
}


div.error {
  color: green;
}
