<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animals of the World</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> Animals of the World: A guide </h1>
    <hr>
    <%= yield %>
    <!-- insert specific ERB template here -->
    <hr>
    <footer>
      <div>
        <a href="/spotters/new">Add Spotters</a>
        <a href="/animals/new">Add Animals</a>
        <br>
      </div>
      <div>&copy; Round Boys 2018
      </div>
    </footer>
  </body>
</html>
