<h2>Add Spotters</h2>
<form action="/spotters" method="post">
  Name: <input type="text" name="name"> <br>
  Location: <input type="text" name="location"><br>
  Spotted Count: <input type="text" name="spotted"><br>
  Spotting Animal ID: <input type="text" name="animal_id"><br>


  <input type="submit" value="Save Spotted">



</form>
