<h2>Add Planet</h2>


<form action="/planets" method="post">
  Name: <input type="text" name="name"><br>
  Image URL: <input type="text" name="image"><br>
  Orbit: <input type="text" name="orbit"><br>
  Diameter: <input type="text" name="diameter"><br>
  Mass: <input type="text" name="mass"><br>
  Temperature: <input type="text" name="temperature"><br>
  Moons: <input type="text" name="moons"><br>
  <br>
  <input type="submit" value="Create planet">
</form>
