<h1>AJAX Dashboard</h1>

<h3>Uptime</h3>
<div id="uptime"></div>

<h3>CPU HOG</h3>
<div id="hog"></div>

<h3>Current Time</h3>
<div id="time"></div>

<h3>Dogs</h3>
<div>
  <ul id="dogList">

  </ul>
</div>
