


body {
  background-color: PeachPuff;

}

* {
  font-family: "Comic Sans MS";
}

div {
  border: 1px solid red;
}
p.brownBG {
  background-color: hotpink;
  family: "Helvetica";
}
.brownBG {
  background-color: brown;
}
#mostSpecific{
  background-color: yellow;
}
p {
  border: 2px dashed green;
}

p#comic {
  font-family: "Comic Sans MS";
  font-color: red;
  font-size: 20px;
}
h1 {
  font-family: "Comic Sans MS";
  color: hotpink;
}

img {
  max-width: 500px;
}

ul {
  /* turn off bullet points */
  list-style: none;
}
