<h1>All Works</h1>


<ul class="index">
<% @works.each do |work| %>
<li>
  <%= link_to work.title, work_path(work) %>, <%= work.year %>
</li>
<% end %>
</ul>


<br>

<%= link_to 'Add Work', new_work_path %>
